html, body{ font-size: 14px; font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; margin: 0; height: 100%; }
.background{ position: fixed; width: 100%; height: 100%; background: linear-gradient( #abd3ee, #ebf1f6 ); }
.main-wrapper{ position: relative; padding-bottom: 20px; }
.content-wrapper{ position: relative; margin: 0 4px; transition: all .3s linear; min-height: 500px; }
.app-title{ font-size: 18px; float: left; }

.user-details-top{ float: right; cursor: pointer; height: 51px; }
.user-details-top .user-menu{ position: relative; top: -2px; height: 0; opacity: 1; transition: all .3s ease-out; z-index: 1000; font-size: 14px; }
.user-details-top .user-menu ul{ position: absolute; right: 1px;list-style: none; margin: 0; padding: 0; border: 1px solid #ccc; border-top: 0; border-radius: 3px; overflow: hidden; box-shadow: 0px 0px 3px #999; white-space: nowrap; }
.user-details-top .user-menu ul li{ border-bottom: 1px solid #ddd; cursor: pointer; transition: all .3s ease-out; text-align: center; }
.user-details-top .user-menu ul li:last-child{ border: 0; }
.user-details-top .user-menu.ng-hide{ opacity: 0; }
.user-details-top .user-menu .menu-user{ background: #fff; padding: 16px 50px; }
.user-details-top .user-menu .menu-grey{ background: #eaeff5; padding: 10px 50px; }
.user-details-top .user-menu .menu-grey:hover{ background: #cacfd5; }
.user-details-top .user-menu .menu-logout{ background: #fff; font-weight: bold; padding: 16px 50px; }

.left-menu{ position: fixed; left: 0px; top: 0; bottom: 0px; transition: all .5s ease; z-index: 1002; background: #191547; width: 180px; overflow-y: auto; }
.left-menu.ng-hide { display: inline-block !important; transform: translate(-100%,0); box-shadow: 0px 0px 0px; }
.clicktab{ position: absolute; left: 5px; top: 5px; padding: 3px 8px; border-radius: 3px; background: #bbb; cursor: pointer; transition: opacity .3s linear; color: #fff; }
.clicktab.ng-hide{ opacity: 0; }
.clicktab .button-stripes{ background: #eee; height: 2px; margin: 5px 0; width: 22px; border-radius: 1px; }
.left-menu ul{ margin: 0; padding: 0 0 20px 0; list-style: none; }
.left-menu ul li{ position: relative; color: #fff; padding: 20px 15px 20px 40px; transition: all .2s ease-out; background-color: #191547; border-left: 2px solid transparent; font-size: 13px; }
.left-menu ul li:hover,.left-menu ul li.selected{ background-color: #000; cursor: pointer; color: #65c9bf; border-color: #65c9bf; }
.left-menu ul li.ng-hide{ display: none; }
.left-menu .logo{ width: 150px; padding: 11px 0; }
.left-menu .left-logo{ background: #65c9bf; padding: 0 15px; }
.left-menu .menu-notifier{ position: absolute; right: 10px; top: 50%; transform: translate(0,-50%); background: red; border-radius: 14px; padding: 0 6px 4px 6px; font-size: 14px; transition: all .5s linear; }

.notifier{ position: relative; float: right; width: 50px; height: 50px; cursor: pointer; transition: all .5s linear; }
.notifier .menu-notifier{ position: absolute; left: 0px; bottom: 0px; background: red; border-radius: 20px; width: 14px; height: 19px; padding: 1px 0px 0px 6px; font-size: 14px; color: #fff; transition: all .5s linear; }
.notifier img{ width: 50px; height: 50px; }
.notifier.ng-hide, .menu-notifier.ng-hide{ opacity: 0; }

.main-view{ position: relative; padding: 0; margin: 0; -webkit-transition: 0.3s linear all; transition: all .3s linear; }
.main-view .view-title{ position: relative; font-size: 18px; color: #555; font-weight: bold; border-bottom: 1px solid; background: #fff; padding: 0 5px; border-radius: 4px; }
.main-view.ng-hide-add-active{ position: absolute; -webkit-transition: 0.2s linear all; transition: 0.2s linear all; width: 100%; }
.main-view.ng-hide-remove-active{ position: absolute; -webkit-transition: 0.3s linear all; transition: 0.3s linear all; -webkit-transition-delay: 0.4s; transition-delay: 0.4s; width: 100%; }
.main-view.ng-hide, .new-note-button.ng-hide{ opacity: 0; }

.main-view-note{ position: relative; float: left; width: 23%; height: 165px; border: 1px solid #9af; border-radius: 5px; padding: 5px; margin: 5px; cursor: pointer; background: #fff; overflow: hidden; }	
.main-view-note:hover{ border: 1px solid #7080ff; background: #f5f5f5; }
.main-view-note .note-title{ font-size: 12px; margin: 0 0 5px 0; }
.main-view-note .note-content{ font-size: 13px; margin: 5px 0 5px 0; height: 90px; overflow-y: auto; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.main-view-note .note-content p, .users-list p{ margin: 4px 0; }
.main-view-note .note-keywords{ font-size: 11px; max-height: 35px; overflow-y: auto; position: absolute; bottom: 4px; }
.main-view-note .note-keywords .keyword, .list-keyword{ float: left; margin: 0 1px; padding: 1px 4px 1px 3px; border-radius: 5px;  border: 1px solid #cdc8ed; background: #5065ff; color: #fff; }
.main-view-note .note-keywords .keyword-title{ float: left; padding-top: 2px; margin-right: 4px; }

.comments-bubble{ position: absolute; top: 0px; right: 0px; width: 30px; height: 25px; text-align: center; color: #fff; }
.comments-bubble img{ width: 30px; }
.note-comment{ position: relative; border: 2px solid #FF9933; background: #fff; padding: 10px; margin: 0 0 3px 0; border-radius: 5px; }
.comment-creator{ border-bottom: 1px solid #ccc; margin: 0 0 5px 0; font-weight: bold; }
.comment-textarea{ min-width: 300px; min-height: 100px; }
.full-view-note{ border: 1px solid #7080ff; border-radius: 5px; padding: 5px; background: #fff; margin: 0 0 10px 0; }
.new-note-button{ position: absolute; top: 0; z-index: 1000; left: 50%; cursor: pointer; border-radius: 0 0 4px 4px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; padding: 8px 8px; transform: translate(-50%,0); background: #fff; }
.new-note-button:hover{ background: #e0f0ff; }
.new-note-button.ng-hide-add-active{ -webkit-transition: 0.3s linear all; transition: 0.3s linear all; }
.new-note-button.ng-hide-remove-active{ -webkit-transition: 0.3s linear all; transition: 0.3s linear all; }
.new-note-button, .keyword, li{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.note-keywords-selector{ margin-bottom: 15px; }

.keyword{ float: left; padding: 8px 10px; border-radius: 5px; background: linear-gradient( #f8f8f8,#eee,#f8f8f8); margin: 5px 3px; border: 1px solid #cdc8ed; cursor: pointer; transition: all .3s linear; }
.keyword:hover{ background: #5060ff; color: #fff; }
.keyword.ng-hide{ opacity: 0; }
.keyword-actions{ position: absolute; left: 200px; top: 1px; font-size: 12px; }
.keyword-action{ float: left; margin: 0 6px; transition: opacity .3s linear; cursor: pointer; }
.keyword-action img{ width: 20px; }
.keyword-action.disabled{ opacity: .2; }
.new-keyword{ float: right; }
.new-keyword input{ position: relative; border: 1px solid #ccc; border-radius: 3px; top: -1px; }	
.new-note-submit, .new-note-messages{ float: left; margin: 10px 0; }
.new-note-messages{ margin-left: 15px; font-size: 12px; color: red; padding: 4px; }

.edit-pop{ position: absolute; top: 70px; left: 50%; transform: translate(-50%,0); background: #fff; border: 10px solid #c0c9ff; padding: 10px; z-index: 2001; border-radius: 5px; }
.edit-pop .cancel-button{ position: absolute; top: -5px; right: -5px; padding: 1px 5px 0 5px; font-weight: bold; background: #ff5050; font-size: 22px; line-height: 22px; border-radius: 22px; color: #fff; cursor: pointer; }
.pop-title{ margin: 0 0 10px 0; border-bottom: 1px solid #bbb; font-weight: bold; text-align: center; font-size: 16px; }
.pop-field{ margin: 10px 0; }
.pop-field .wide{ width: 100%; }
.pop-form-messages{ color: red; text-align: center; }
.pop-form-tip{ font-size: 11px; margin: 3px 0; }

.users-list{ font-size: 12px; background: transparent; }
.users-list table{ margin: 5px 0; padding: 0; border-collapse: collapse; width: 100%; background: transparent; }
.users-list table tr:nth-child(odd){ background: #eee; }
.users-list table tr:nth-child(even){ background: #dfefff; }
.users-list table tr.selected{ background: #5060ff !important; color: #fff; }
.users-list table tr.hidden{ display: none; }
.users-list table th{ background: #c0d0ff; padding: 3px 4px; border: 1px solid #bbb; }
.users-list table td{ border: 1px solid #ccc; padding: 3px 4px; }
.users-list table td.center{ text-align: center; }

.new-rule{ background: #c0ffd0; }

.paginate{ text-align: center; }
.paginate ul{ list-style: none; margin: 0; padding: 0; }
.paginate ul li{ display: inline-block; margin: 2px 3px; text-decoration: underline; color: blue; cursor: pointer; font-size: 18px; font-weight: bold; }
.paginate ul li.this-page{ text-decoration: none; color: #000; cursor: auto; }

.explorer-inputs{ float: right; border: 5px solid #b0c0ff; border-radius: 5px; padding: 5px; margin: 5px 0 0 0; }
.explorer-input{ float: left; margin: 3px 5px; }
.explorer-select{ height: 24px; margin: 0; padding: 2px; }
@-moz-document url-prefix() { .explorer-select{ height: 22px; } }
.explorer-crumbs{ float: left; margin: 10px 0; }
.explorer-crumb{ position: relative; float: left; padding: 3px 4px; border: 1px solid #a0b0ff; background: #eee; margin: 0 10px 0 0; border-radius: 4px; cursor: pointer; }
.explorer-crumb:hover{ background: #fff; }
.report-view-button{ position: relative; background: #ddd; border-radius: 30px; border: 0 !important; transition: all .3s ease-in; }

.left-menu::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
.left-menu::-webkit-scrollbar { width: 2px; background-color: #F5F5F5; }
.left-menu::-webkit-scrollbar-thumb{ border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #0ae; }
.trim-info { max-height: 40px; overflow: hidden; text-overflow: ellipsis; line-height: 15px; }
.footer{ position: fixed; bottom: 0; width: 100vw; font-size: 11px; text-align: center; border-top: 1px solid #ccc; margin: 0 auto; background: #f8f8f8; z-index: 3000; }
.data-saved{ position: fixed; top: 0px; left: 50%; z-index: 2000; transform: translate(-50%,0); border: 1px solid #888; background: #FFFF99; padding: 3px 5px; border-radius: 3px; transition: all .5s ease-out; }
.data-saved.ng-hide{ opacity: 0; }
.req-warning{ background: #fff; color: red; margin: 2px 0 10px 0; }
.last-multi .checkboxLayer { right: 0px; }

.help-text{ margin: 10px 0; padding: 5px; background: #f8f8f8; border-radius: 5px; border: 1px solid #6070ff; }

.page-mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2000; visibility: visible; opacity: 0.7; transition: all .3s ease-out; background: #bbb; }
.page-mask.ng-hide{ visibility: hidden; opacity: 0; }
.clear{ clear: both; }
.left{ float: left; }
.leftjustify{ text-align: left; }
.relative{ position: relative; }
.no-break{ white-space: nowrap; }
.clickable:hover{ cursor: pointer; background: #6070ff !important; color: #fff; border: 0; }
.mini-cancel{ position: absolute; top: -5px; right: -5px; background: red; font-size: 11px; border-radius: 8px; padding: 0 3px; font-weight: bold; color: #fff; cursor: pointer; }
.inline-block{ display: inline-block; }
.transparent{  background: transparent; }
input[type=submit]{ cursor: pointer; }
.spacer-10v{ height: 10px; }
.menuMargin{ margin-left: 184px; }
.menuMarginR{ margin-right: 184px; }

.center span{ display: inline-block; margin: 0 auto; }

@media screen and ( min-width: 1110px ){ .users-list{ font-size: 16px; } }
@media screen and ( max-width: 1110px ){ .users-list{ font-size: 14px; } .main-view-note{ min-width: 31%; } }
@media screen and ( max-width: 960px ){ .users-list{ font-size: 13px; } .main-view-note{ min-width: 47%; } }
@media screen and ( max-width: 750px ){ .users-list{ font-size: 12px; } .main-view-note{ min-width: 94%; } }
@media screen and ( max-width: 430px ){ .users-list{ font-size: 10px; } }