body{ font-size: 14px; font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; margin: 0; }
.background{ position: fixed; width: 100%; height: 100%; background: linear-gradient( #abd3ee, #ebf1f6 ); }
.main-wrapper{ position: relative; width: 100%; min-height: 96vh; margin: 0 0 20px 0; }
.logo{ display: inline-block; margin: 5px; }
.logo img{ height: 70px; }
.login-box{ position: absolute; box-shadow: 0px 0px 10px #aaa; padding: 20px; margin: 0 0 20px 0; border: 10px solid #e0f0ff; left: 50%; top: 80px; transform: translate(-50%,0); background: #fafcfc; border-radius: 5px; transition: all .3s; }
.login-box.ng-hide{ opacity: 0; }
.login-box-title{ font-size: 22px; border-bottom: 1px solid #ccc; }
.form-message{ font-size: 12px; color: red; font-weight: bold; text-align: center; }
.input-field{ margin: 15px 0 0 0; }
.reg-link{ margin: 20px 0 0 0; font-size: 12px; }
input[type="email"], input[type="password"], input[type="text"]{ box-shadow: none; width: 292px; border: 1px solid #ccc; border-radius: 4px; padding: 2px 4px; font-size: 18px; }
input[type="submit"]{ width: 300px; border-radius: 4px; border: 1px solid #bbb; cursor: pointer; transition: background .3s ease-in;  font-size: 18px; }
input[type="submit"]:hover{ background: #6070ff; color: #fff; }
input[type="checkbox"]{ cursor: pointer; }
.back-link{ position: absolute; top: -15px; left: -15px; cursor: pointer; }
.back-link img { width: 40px; }
.page-mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; visibility: visible; opacity: 0.8;
	transition: all .3s ease-out; background: #bbb; }
.loading-img{ position: absolute; top: 50%; left: 50%; z-index: 1010; visibility: visible; opacity: 0.8;
	transition: all .3s ease-out; transform: translate(-50%,-50%); }
.page-mask.ng-hide, .loading-img.ng-hide{ visibility: hidden; opacity: 0; }
.click-link{ text-decoration: underline; color: blue; cursor: pointer; }
.footer{ position: fixed; bottom: 0; left: 0; right: 0; font-size: 11px; text-align: center; margin: 5px 0 0 0; background: #f5f5f5; padding: 2px; border-top: #999 1px solid; }
.toc{ position: relative; top: 2px; }
.on-top{ z-index: 2000; }
.clear{ clear: both; }
h2{ text-align: center; }
hr{ margin: 20px 0px 10px 0px; }