<!DOCTYPE html><html lang="en">
<head>
	<meta charset="utf-8">
	<title>Team Notes</title>
	<meta name="description" content="Small, powerful and easy to use tools for professionals. Willowtree Software also provides IT consultancy services for schools">
	<meta name="keywords" content="Educational Applications,MIS Consultancy,Python,Django,Angular,PHP">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="{{ STATIC_URL }}scripts/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/tinymce/tinymce.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-animate.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-route.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular-cookie.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-cookies.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-sanitize.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-touch.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/isteven-multi-select.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/tinymce.js"></script>
	
	<script src='{{ STATIC_URL }}scripts/app.js'></script>
	
	<link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/isteven-multi-select.css" rel="stylesheet">
	
	<style>
		.keyword.selected{ background: #5065ff url( {{ STATIC_URL}}images/tick.png ) 0 0 no-repeat; background-size: 20px 20px; color: #fff; }
		
		.note-icon{ background: url( {{ STATIC_URL}}images/note-light.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.note-icon:hover,.note-icon.selected{ background: url( {{ STATIC_URL}}images/note-green.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.pen-icon{ background: url( {{ STATIC_URL}}images/pen-light.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.pen-icon:hover,.pen-icon.selected{ background: url( {{ STATIC_URL}}images/pen-green.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.search-icon{ background: url( {{ STATIC_URL}}images/search-light.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.search-icon:hover,.search-icon.selected{ background: url( {{ STATIC_URL}}images/search-green.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.eye-icon{ background: url( {{ STATIC_URL}}images/eye-light.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.eye-icon:hover,.eye-icon.selected{ background: url( {{ STATIC_URL}}images/eye-green.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.tag-icon{ background: url( {{ STATIC_URL}}images/tag-light.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.tag-icon:hover,.tag-icon.selected{ background: url( {{ STATIC_URL}}images/tag-green.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.stack-icon{ background: url( {{ STATIC_URL}}images/stack-light.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.stack-icon:hover,.stack-icon.selected{ background: url( {{ STATIC_URL}}images/stack-green.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.mail-icon{ background: url( {{ STATIC_URL}}images/mail-light.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.mail-icon:hover,.mail-icon.selected{ background: url( {{ STATIC_URL}}images/mail-green.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.user-icon{ background: url( {{ STATIC_URL}}images/user-light.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		.user-icon:hover,.user-icon.selected{ background: url( {{ STATIC_URL}}images/user-green.png ) 10px 17px no-repeat; background-size: 20px 20px; }
		
		.comments-bubble{ background: url( {{ STATIC_URL}}images/comments-bubble.png ); background-size: 30px 25px; }
	</style>
</head>
<body ng-app="teamNotes" ng-controller="mainController" ng-swipe-right="rightSwipe()">
<div class="background"></div>

<div class="left-menu" ng-hide="hideLeftMenu" id="left-menu" ng-swipe-left="clickTab()">
	<div class="left-logo"><img src="{{ STATIC_URL }}images/TeamNotesLogo.png" class="logo"></div>
	<ul>
		<li class="note-icon" ng-click="clickTab(); viewNotes()" ng-class="{ selected: notesView }">Notes <div class="menu-notifier" ng-bind="latestPollID - currentPollID" ng-show="latestPollID - currentPollID > 0"></div></li>
		<li class="pen-icon" ng-click="clickTab(); newNote()" ng-class="{ selected: newNoteView }">New Note</li>
		<!-- <li ng-click="clickTab(); cancelNewNote()" ng-show="newNoteView">Cancel New Note</li> -->
		<li class="eye-icon" ng-click="clickTab(); viewExplorer()" ng-class="{ selected: explorerView }">Notes Explorer</li>
		<li class="stack-icon" ng-click="clickTab(); viewCategories()" ng-show="isAdmin" ng-class="{selected: categoriesView}">Manage Categories</li>
		<li class="tag-icon " ng-click="clickTab(); viewKeywords()" ng-show="isAdmin" ng-class="{selected: keywordsView}">Manage Keywords</li>
		<li class="mail-icon" ng-click="clickTab(); viewRules()" ng-show="isAdmin" ng-class="{selected: rulesView}">Manage Emails</li>
		<li class="user-icon" ng-click="clickTab(); viewUsers()" ng-show="isAdmin" ng-class="{selected: usersView}">Manage Users</li>
	</ul>
</div>

<div class="new-note-button" ng-hide="newNoteView" title="Click to create a new note" ng-click="newNote()">New Note</div>
<div class="new-note-button" ng-show="newNoteView" title="Click to create a new note" ng-click="cancelNewNote()">Cancel</div>
	
<div class="main-wrapper">

<div class="content-wrapper" ng-class="{menuMargin: !hideLeftMenu }">
	<div class="clicktab" title="Click to Open/Close the Actions Menu" ng-click="clickTab()" ng-hide="largeMode">
		<div class="button-stripes">&nbsp;</div><div class="button-stripes"></div><div class="button-stripes"></div>
	</div>
	
	<div class="user-details-top" id="user-details-top" ng-click="userMenu(); $event.stopPropagation();">
		<img src="{{ STATIC_URL }}images/avatar75.png" width=50 height=50>
		<div class="user-menu" id="user-menu" ng-show="showUserMenu">
			<ul>
				<li class="menu-user"><span ng-bind="currentUserFirst"></span> <span ng-bind="currentUserLast"></span></li>
				<li class="menu-grey" ng-click="accountView = true">Account</li>
				<li class="menu-logout" ng-click="logout()">Logout</li>
			</ul>
		</div>
	</div>

	<div class="notifier" ng-click=" viewNotes()" title="Notes">
		<img src="{{ STATIC_URL}}images/note2.png">
		<div class="menu-notifier" ng-bind="latestPollID - currentPollID" ng-show="latestPollID - currentPollID > 0"></div>
	</div>
	
	<div class="clear"></div>

	<div class="main-view" ng-show="notesView">
		<div class="view-title">My Notes</div>
		<div class="main-view-note" title="Click to view/edit full note." ng-repeat="note in myNotes" ng-click="viewNote( note.id, 'none' )">
			<div class="note-title">Created: <b ng-bind="note.created | date: 'dd-MM-yyyy'"></b>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b ng-bind="note.no_likes"></b> Likes, <b ng-bind="note.no_dislikes"></b> Dislikes.
			<br>By: <b ng-bind="note.name"></b>. &nbsp;&nbsp;&nbsp;&nbsp;Category: <span ng-repeat="cat in categories" ng-if="cat.id == note.category"><b><span ng-bind="cat.name"></span></b></span></div>
			<div class="note-content" ng-bind-html="note.body_text"></div>
			<div class="note-keywords"><div class="keyword-title">Keywords: </div><div class="keyword" ng-repeat="keyword in note.keywords | orderBy: keyword" ng-bind="keyword"></div></div>
			<div class="comments-bubble" title="Has Comments" ng-if="note.comment_count" ng-bind="note.comment_count"></div>
			<div class="clear"></div>
		</div>
		
		<div class="main-view-note" title="Click to add new note." ng-if="!myNotes.length" ng-click="newNote()">
			<div class="note-title">You have no notes. Click HERE to create a note.</div>
		</div>
		<div class="clear"></div>
		
		<div class="paginate" ng-if="myNotes.page_count > 1">
				<ul>
					<li ng-repeat="page in getNumber( myNotes.page_count ) track by $index" ng-bind="$index+1" ng-click="notesFetchPage($index+1,'none')" ng-class="{ 'this-page': $index+1 == myNotesPage }"></li>
				</ul>
		</div>

		<div class="view-title">Team Notes</div>
		<div class="main-view-note" title="Click to view/edit full note." ng-repeat="note in teamNotes" ng-click="viewNote( note.id, 'team' )">
			<div class="note-title">Created: <b ng-bind="note.created | date: 'dd-MM-yyyy'"></b>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b ng-bind="note.no_likes"></b> Likes, <b ng-bind="note.no_dislikes"></b> Dislikes.
			<br>By: <b ng-bind="note.name"></b>.&nbsp;&nbsp;&nbsp;&nbsp;Category: <span ng-repeat="cat in categories" ng-if="cat.id == note.category"><b><span ng-bind="cat.name"></span></b></span></div>
			<div class="note-content" ng-bind-html="note.body_text"></div>
			<div class="note-keywords"><div class="keyword-title">Keywords: </div><div class="keyword" ng-repeat="keyword in note.keywords | orderBy: keyword" ng-bind="keyword"></div></div>
			<div class="comments-bubble" title="Has Comments" ng-if="note.comment_count" ng-bind="note.comment_count"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="paginate" ng-if="teamNotes.page_count > 1">
			<ul>
				<li ng-repeat="page in getNumber( teamNotes.page_count ) track by $index" ng-bind="$index+1" ng-click="notesFetchPage($index+1,'team')" ng-class="{ 'this-page': $index+1 == teamNotesPage }"></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
		
	<div class="main-view" ng-show="noteView || noteEdit">
		<div class="view-title">Full Note
			<div class="keyword-actions">
				<div class="keyword-action" ng-class="{ 'disabled': noteEdit }"><img ng-click="editNote()" src="{{STATIC_URL}}images/edit.png" title="Toggle Edit"></div>
				<div class="keyword-action" ng-class="{ 'disabled': noteView }"><img ng-click="viewNote( editNoteId )" src="{{STATIC_URL}}images/cancel.png" title="Cancel Changes"></div>
				<div class="keyword-action" ng-class="{ 'disabled': noteView }"><img ng-click="saveEditNote()" src="{{STATIC_URL}}images/save.png" title="Save Changes"></div>
				<div class="keyword-action" ng-class="{ 'disabled': addComment, 'disabled': noteEdit }"><img ng-click="newComment()" src="{{STATIC_URL}}images/bubble.png" title="Add Comment"></div>
			</div>
		</div>
		<div>&nbsp;</div>
		<div class="view-title">Category.</div>
		<div class="note-keywords-selector">
			<div class="keyword" ng-repeat="category in categories | orderBy: 'name'" ng-bind="category.name" ng-click="categorySelect( category.id )" ng-class="{ 'selected': category.selected == true }" ng-show="category.selected || noteEdit"></div>
			<div class="clear"></div>
		</div>
		
		<div class="view-title">Keywords.</div>
		
		<div class="note-keywords-selector" ng-show="noteView">
			<div class="keyword" ng-repeat="keyword in keywords | orderBy: 'keyword'" ng-bind="keyword.keyword"  ng-class="{ 'selected': keyword.selected == true }" ng-show="keyword.selected || noteEdit"></div>
			<div class="clear"></div>		
		</div>
		<div class="note-keywords-selector" ng-show="noteEdit">
			<div class="keyword" ng-repeat="keyword in keywords | orderBy: 'keyword'" ng-bind="keyword.keyword" ng-click="keyword.selected = { 'true': false, 'false': true }[keyword.selected]" ng-class="{ 'selected': keyword.selected == true }" ng-show="keyword.selected || noteEdit"></div>
			<div class="clear"></div>
		</div>
		
		<div class="view-title" ng-show="noteView">Note Text
			<div class="keyword-actions">
				<div class="keyword-action" ng-class="{ 'disabled': noteEdit }"><img ng-click="likes( true )" src="{{STATIC_URL}}images/like.png" title="Like"></div>
				<div class="keyword-action" ng-class="{ 'disabled': noteEdit }"><img ng-click="likes( false )" src="{{STATIC_URL}}images/dislike.png" title="Dislike"></div>	
			</div>
		</div>
		<div class="full-view-note" ng-show="noteView">
			<div class="note-content" ng-bind-html="fullNoteBody"></div>
		</div>
		
		<div class="view-title" ng-show="noteView">Comments</div>
		<div class="note-comment" ng-show="noteView" ng-repeat="comment in comments | orderBy: 'id'">
			<div class="comment-creator">Created By: <span ng-repeat="user in userList" ng-ig="comment.User == user.id" ng-bind="user.first_name+' '+user.last_name"></span></div>
			<div class="comment-text" ng-bind="comment.comment_text"></div>
			<div class="mini-cancel" ng-if="isAdmin" title="Delete Comment." ng-click="deleteComment( comment.id )">X</div>
		</div>
		
		<div ng-show="noteEdit">
			<input type="hidden" ng-model="editNoteId">
			<textarea name="edit_note_textarea" ui-tinymce="tinymceOptions2" ng-model="fullNoteBody"></textarea>
			<div class="new-note-submit"><input type="submit" value="Save Note" ng-click="saveEditNote()"></div>
			<div class="new-note-messages" ng-bind="editNoteMessages"></div>
		</div>	
	</div>
	<div class="clear"></div>	
	
	<div class="main-view" ng-show="newNoteView">
		<div class="view-title">Step 1 - Select a Category.</div>
		<div class="note-keywords-selector">
			<div class="keyword" ng-repeat="category in categories | orderBy: 'name'" ng-bind="category.name" title="Click to toggle selected." ng-click="categorySelect( category.id )" ng-class="{ 'selected': category.selected == true }"></div>
			<div class="clear"></div>
			<div class="req-warning" ng-if="!categories.length">You have no Categories. Please create some before trying to creating a note.</div>			
		</div>
		
		<div class="view-title">Step 2 - Select Keywords.</div>
		<div class="note-keywords-selector">
			<div class="keyword" ng-repeat="keyword in keywords | orderBy: 'keyword'" ng-bind="keyword.keyword" title="Click to toggle selected." ng-click="keyword.selected = { 'true': false, 'false': true }[keyword.selected]" ng-class="{ 'selected': keyword.selected == true }"></div>
			<div class="clear"></div>
			<div class="req-warning" ng-if="!keywords.length">You have no Keywords. Please create some before trying to creating a note.</div>			
		</div>
		
		<div class="view-title">Step 3 - Enter Note Text.</div>
		<div class="edit-note">
			<textarea name="edit_note_textarea" ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
			<div class="new-note-submit"><input type="submit" value="Save New Note" ng-click="saveNewNote()"></div>
			<div class="new-note-messages" ng-bind="newNoteMessages"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
	
	<div class="main-view" ng-show="categoriesView">
		<div class="view-title">Categories
			<div class="keyword-actions">
				<div class="keyword-action" style="padding-top: 3px;"></div>
				<div class="keyword-action" ng-class="{ disabled: !catDeleteEnabled }"><img ng-click="deleteCategory()" src="{{STATIC_URL}}images/delete.png" title="Delete"></div>
				<div class="keyword-action" ng-class="{ disabled: !catEditEnabled }"><img ng-click="editCategory()" src="{{STATIC_URL}}images/edit.png" title="Edit"></div>
				<div class="keyword-action"><img ng-click="newCategoryPop()" src="{{STATIC_URL}}images/new.png" title="Add New Category"></div>
			</div>
		</div>
		
		<div class="keyword" ng-repeat="category in categories | orderBy: 'category'" ng-bind="category.name" title="Click to toggle selected." ng-click="category.selected = { 'true': false, 'false': true }[category.selected]; catButtons()" ng-class="{ 'selected': category.selected == true }"></div>
		<div class="req-warning" ng-show="!categories.length">You have no categories. You will need to create at least one category before you can start creating notes.</div>
		<div class="clear"></div>
	</div>
	
	<div class="main-view" ng-show="keywordsView">
		<div class="view-title">Keywords
			<div class="keyword-actions">
				<div class="keyword-action" style="padding-top: 3px;"></div>
				<div class="keyword-action" ng-class="{ disabled: !kwDeleteEnabled }"><img ng-click="deleteKeyword()" ng-disabled="!kwDeleteEnabled" src="{{STATIC_URL}}images/delete.png" title="Delete"></div>
				<div class="keyword-action" ng-class="{ disabled: !kwEditEnabled }"><img ng-click="editKeyword()" ng-disabled="!kwEditEnabled" src="{{STATIC_URL}}images/edit.png" title="Edit"></div>
				<div class="keyword-action"><img ng-click="newKeywordPop()" src="{{STATIC_URL}}images/new.png" title="Add New Keyword"></div>
			</div>
		</div>
		
		<div class="keyword" ng-repeat="keyword in keywords | orderBy: 'keyword'" ng-bind="keyword.keyword" title="Click to toggle selected." ng-click="keyword.selected = { 'true': false, 'false': true }[keyword.selected]; kwButtons()" ng-class="{ 'selected': keyword.selected == true }"></div>
		<div class="req-warning" ng-show="!keywords.length">You have no keywords. You will need to create some keywords before you can start creating notes.</div>
		<div class="clear"></div>
	</div>

	<div class="main-view" ng-show="usersView">
		<div class="view-title">Users
			<div class="keyword-actions">
				<div class="keyword-action" ng-class="{ disabled: !userDeleteEnabled }"><img ng-click="userDelete()" src="{{STATIC_URL}}images/delete.png" title="Delete"></div>
				<div class="keyword-action" ng-class="{ disabled: !userEditEnabled }"><img ng-click="userEdit()" src="{{STATIC_URL}}images/edit.png" title="Edit"></div>
				<div class="keyword-action" ng-class="{ disabled: !userEditEnabled }"><img ng-click="userPassword()" src="{{STATIC_URL}}images/password.png" title="Set Password"></div>
				<div class="keyword-action" ng-if="currentUserCount < maxUsers"><img ng-click="newUserPop()" src="{{STATIC_URL}}images/new.png" title="Add New User"></div>
				<div class="keyword-action" ng-if="currentUserCount >= maxUsers"><img ng-click="accountLimit()" src="{{STATIC_URL}}images/new.png" title="Add New User"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="users-list">
			<table>
				<tr>
					<th>Select</th>
					<th>Username</th>
					<th class="leftjustify">Name</th>
					<th class="leftjustify">Email</th>
					<th>Last Login</th>
				</tr>
				<tr class="list-item" ng-repeat="user in userList" ng-class="{ selected: user.selected, hidden: ! user.is_active}">
					<td class="center"><input type="checkbox" ng-model="user.selected" ng-click="userActionButtons()" ng-disabled="! user.is_active"></td>
					<td ng-bind="user.username" class="center"></td>
					<td ng-bind="user.first_name + ' ' + user.last_name"></td>
					<td ng-bind="user.email"></td>
					<td ng-bind="user.last_login | date: 'hh:mm a dd-MM-yyyy'" class="center"></td>
				</tr>
			</table>
		</div>
		<div class="help-text">
			Users and your account<br><br>
			TeamNotes has two different types of user:
			<ul>
				<li>The person who originally set-up the account with TeamNotes the Account User.</li>
				<li>Users added later, in the 'Users' menu, are standard users.</li>
			</ul>
			Account Users are the only ones allowed to add new standard users, change account Tiers and set your account limits.
		</div>
	</div>
	
	<div class="main-view" ng-show="rulesView">
		<div class="view-title">Rules
			<div class="keyword-actions">
				<div class="keyword-action" ng-class="{ disabled: !ruleDeleteEnabled }"><img ng-click="deleteRules()" src="{{STATIC_URL}}images/delete.png" title="Delete"></div>
				<div class="keyword-action" ng-class="{ disabled: !newRuleAdd && !newWeeklyAdd }"><img ng-click="newRuleAdd = false; newWeeklyAdd = false;" src="{{STATIC_URL}}images/cancel.png" title="Cancel"></div>
			</div>
		</div>
		<div class="spacer-10v"></div>
		<div class="users-list">
			<div class="view-title">Instant Mail
				<div class="keyword-actions">
					<div class="keyword-action" ng-class="{ disabled: newRuleAdd }"><img ng-click="newRule()" src="{{STATIC_URL}}images/new.png" title="Add New Rule"></div>
				</div>
			</div>
			<form ng-submit="saveNewRule()">
			<table>
				<tr>
					<th>Select</th>
					<th>Category</th>
					<th>Keywords</th>
					<th>Users</th>
				</tr>
				<tr ng-show="newRuleAdd" class="new-rule">
					<td class="center"><input type="submit"></td>
					<td class="center"><div class="inline-block" isteven-multi-select input-model="categories" output-model="newRuleCat" button-label="name" item-label="name" tick-property="selected" selection-mode="single"></div></td>
					<td class="center"><div class="inline-block" isteven-multi-select input-model="keywords" output-model="newRuleKeys" button-label="keyword" item-label="keyword" tick-property="selected"></div></td>
					<td class="center"><div class="inline-block  last-multi" isteven-multi-select input-model="userList" output-model="newRuleUsers" button-label="first_name last_name" item-label="first_name last_name" tick-property="selected"></div></td>
				</tr>
				<tr ng-repeat="rule in rules" ng-class="{ selected: rule.selected }">
					<td class="center"><input type="checkbox" ng-model="rule.selected" ng-click="rulesButtons()"></td>
					<td class="center">
						<span>
							<span ng-repeat="cat in categories" ng-if="rule.category == cat.id" ng-bind="cat.name" class="list-keyword"></span>
						</span>
					</td>
					<td class="center">
						<span ng-repeat="key in keywords">
							<span ng-repeat="keyword in rule.keywords" ng-if="key.id == keyword" ng-bind="key.keyword" class="list-keyword"></span>
						</span>
					</td>
					<td class="center">
						<span ng-repeat="user in userList">
							<span ng-repeat="user1 in rule.userlist" ng-if="user.id == user1" ng-bind="user.first_name + ' ' + user.last_name" class="list-keyword"></span>
						</span>
					</td>
				</tr>
			</table>
			</form>
		</div>
		
		<div class="spacer-10v"></div>
		
		<div class="users-list">
			<div class="view-title">Weekly Digest Mail
				<div class="keyword-actions">
					<div class="keyword-action" ng-class="{ disabled: newWeeklyAdd }"><img ng-click="newWeekly()" src="{{STATIC_URL}}images/new.png" title="Add New Weekly"></div>
				</div>
			</div>
			<form ng-submit="saveNewWeekly()">
			<table>
				<tr>
					<th>Select</th>
					<th>Weekday</th>
					<th>Category</th>
					<th>Keywords</th>
					<th>Users</th>
				</tr>
				<tr ng-show="newWeeklyAdd" class="new-rule">
					<td class="center"><input type="submit"></td>
					<td class="center"><div class="inline-block" isteven-multi-select input-model="weekDays" output-model="newRuleWeekDay" button-label="day" item-label="day" tick-property="selected" selection-mode="single"></div></td>
					<td class="center"><div class="inline-block" isteven-multi-select input-model="categories" output-model="newRuleCat" button-label="name" item-label="name" tick-property="selected" selection-mode="single"></div></td>
					<td class="center"><div class="inline-block" isteven-multi-select input-model="keywords" output-model="newRuleKeys" button-label="keyword" item-label="keyword" tick-property="selected"></div></td>
					<td class="center"><div class="inline-block last-multi" isteven-multi-select input-model="userList" output-model="newRuleUsers" button-label="first_name last_name" item-label="first_name last_name" tick-property="selected"></div></td>
				</tr>
				<tr ng-repeat="weekly in weeklies" ng-class="{ selected: weekly.selected }">
					<td class="center"><input type="checkbox" ng-model="weekly.selected" ng-click="rulesButtons()"></td>
					<td class="center">
						<span>
							<span ng-repeat="weekday in weekDays" ng-if="weekly.weekday == weekday.id" ng-bind="weekday.day" class="list-keyword"></span>
						</span>
					</td>
					<td class="center">
						<span>
							<span ng-repeat="cat in categories" ng-if="weekly.category == cat.id" ng-bind="cat.name" class="list-keyword"></span>
						</span>
					</td>
					<td class="center">
						<span ng-repeat="key in keywords">
							<span ng-repeat="keyword in weekly.keywords" ng-if="key.id == keyword" ng-bind="key.keyword" class="list-keyword"></span>
						</span>
					</td>
					<td class="center">
						<span ng-repeat="user in userList">
							<span ng-repeat="user1 in weekly.userlist" ng-if="user.id == user1" ng-bind="user.first_name + ' ' + user.last_name" class="list-keyword"></span>
						</span>
					</td>
				</tr>
			</table>
			</form>
		</div>
		<div class="help-text">
			TeamNotes has two different emails services for you to use. Instant and Weekly<br><br>
			Instant emails get sent as a Note is created and weekly, in a weekly report.<br>
			To use these, you need to set-up rules for them.<br><br>
			The rules follow a simple logic<br>
			For a note with these keywords and possibly in this category, send an email to these people. For weekly we also state the day we send.<br>
			So lets says your the customer manager for Company A and you want an instant email if any note is created for company A for an Issue. You create a rule for category Company A, for Keyword Issue and your user.<br>
			You also want a weekly report for all notes raised for company A, so you create a weekly Rule for category Company A, select all keywords and your user, plus the day you want the report<br><br>
			Now sit back and TeamNotes will do the rest.<br>
		
		</div>
	</div>
	
	<div class="main-view" ng-show="explorerView">
		<div class="view-title">Notes Explorer
			<div class="keyword-actions">
				<div class="keyword-action" ng-class="{ disabled: !explorerDeleteEnabled }"><img ng-click="deleteReportNotes()" src="{{STATIC_URL}}images/delete.png" title="Delete"></div>
				<div class="keyword-action" ng-class="{ disabled: !explorerDeleteEnabled }"><img ng-click="archiveReportNotes()" src="{{STATIC_URL}}images/save.png" title="Archive"></div>
				<div class="keyword-action" ng-class="{ 'disabled': !reportView }"><img ng-click="reportView = false" src="{{STATIC_URL}}images/cancel.png" title="Close Report"></div>
			</div>
		</div>
		<div class="explorer-crumbs">
			<div class="explorer-crumb" ng-click="keyDeSelect( crumb.keyword )" ng-repeat="crumb in explorerKeys | filter: { 'selected': true }" title="Click to remove.">
				<span ng-bind="crumb.keyword"></span>
				<div class="mini-cancel">X</div>
			</div>
		</div>
		<div class="explorer-inputs">
			<div class="explorer-input">
				Start Date:<br>
				<input type="date" ng-model="explorerStart" ng-change="viewExplorer()">
			</div>
			<div class="explorer-input">
				End Date:<br>
				<input type="date" ng-model="explorerEnd" ng-change="viewExplorer()">
			</div>
			<div class="explorer-input">
				Status:<br>
				<select ng-change="viewExplorer()" class="explorer-select" ng-init="explorerStatus = 'active'" ng-model="explorerStatus">
					<option value="active">Active</option>
					<option value="archive">Archived</option>
				</select>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
		<div class="users-list main-view" ng-hide="reportView">
			<table>
				<tr>
					<th>Keywords</th>
					<th>Count</th>
					<th class="report-view-button clickable" title="Click to view report." ng-click="viewReport()" rowspan="100000">View Report</th>
				</tr>
				<tr ng-class="{ selected: key.selected }" ng-repeat="key in explorerKeyStats | orderBy: 'keyword'" ng-click="keySelect( key.keyword )" class="clickable" title="click to filter by this keyword.">
					<td class="center" ng-bind="key.keyword"></td>
					<td class="center" ng-bind="key.keyword_count"></td>
				</tr>
			</table>
		</div>

		<div class="users-list main-view" ng-show="reportView">
			<table>
				<tr>
					<th><input type="checkbox" title="Select all." ng-click="reportToggleAll()" ng-model="notesToggleAll"></th>
					<th class="leftjustify">Creator</th>
					<th>Date</th>
					<th>Content</th>
					<th>Keywords</th>
					<th>Category</th>
				</tr>
				<tr ng-repeat="note in explorerNotes" ng-class="{selected: note.selected }">
					<td class="center"><input type="checkbox" ng-model="note.selected" ng-click="updateExplorerButtons()"></td>
					<td class="no-break"><span ng-repeat="user in userList | filter:{ 'id': note.user }" ng-bind="user.first_name + ' ' + user.last_name"></span>
					<td class="no-break center" ng-bind="note.created | date: 'dd-MM-yyyy'" class="center"></td>
					<td><div ng-bind-html="note.body_text | toTrusted | limitTo:100" class="trim-info"></div></td>
					<td class="center">
						<span ng-repeat="key in keywords">
							<span ng-repeat="keyword in note.keywords" ng-if="key.keyword == keyword" ng-bind="key.keyword" class="list-keyword"></span>
						</span>
					</td>
					<td ng-repeat="cat in categories | filter:{ 'id': note.category }" ng-bind="cat.name" class=center></td>
				</tr>
			</table>
		</div>
	</div>

</div><!---   close content_wrapper  -->
</div><!---   close main_wrapper  -->
<div class="clear"></div>

<!-- Pop-ups -->
<div class="edit-pop" ng-show="noCatsKeys">
	<iframe width="480" height="311" src="http://www.powtoon.com/embed/cYVCgqewrb7/" frameborder="0"></iframe>
<div class="cancel-button" ng-hide="savingData" ng-click="noCatsKeys=false">X</div>
</div>


<div class="edit-pop" ng-show="addComment">
	<div class="poptitle">Add Comment</div>
	<form ng-submit="saveComment()">
	<div class="pop-field">Comment Text:<br>
		<textarea class="comment-textarea" ng-model="newCommentText"></textarea>
	</div>
	<div class="pop-field">
		<input type="submit" class="comment-input wide" ng-disabled="savingData">
	</div>
	</form>
	<div class="cancel-button" ng-hide="savingData" ng-click="addComment=false">X</div>
	<div class="page-mask" ng-show="savingData"></div>
</div>


<div class="edit-pop" ng-show="accountView">
	<div class="pop-title">Account Details</div>
	<div class="pop-field">Owner Name: <b><span ng-bind="account.first_name + ' ' + account.last_name"></span></b></div>
	<div class="pop-field">UserName: <b><span ng-bind="account.username"></span></b></div>
	<div class="pop-field">Last Login: <b><span ng-bind="account.last_login | date: 'hh:mm dd-MM-yyyy'"></span></b></div>
	<div class="pop-field">Owner Email: <b><span ng-bind="account.email"></span></b></div>
	<div class="pop-field">Account Tier: <b><span ng-if="tier.level==0">Free</span><span ng-if="tier.level==1">Silver</span><span ng-if="tier.level==2">Gold</span></b></div>
	<div class="pop-field">Maximum Number of Notes: <b><span ng-bind="tier.max_notes"></span></b></div>
	<div class="pop-field">Maximum Number of Users: <b><span ng-bind="tier.users"></span></b></div>
	<div class="pop-field">Archive Retention Time: <b><span ng-bind="tier.retention"></span> days.</b></div>
	<div class="cancel-button" ng-click="accountView = false">X</div>
</div>

<div class="edit-pop" ng-show="userNewPop || userEditPop">
	<div class="pop-title" ng-if="userNewPop">New User</div>
	<div class="pop-title" ng-if="userEditPop">Edit User</div>
	<div class="pop-form-messages" ng-bind="popFormMessages"></div>
	<form ng-submit="saveUser()">
		<input type="hidden" ng-model="userEditId">
		<div class="pop-field">
			Username:<br>
			<input type="text" ng-model="newUsername" minlength="8">
		</div>
		<div class="pop-field">
			First Name:<br>
			<input type="text" ng-model="newUserFirst" required>
		</div>
		<div class="pop-field">
			Last Name:<br>
			<input type="text" ng-model="newUserLast" required>
		</div>
		<div class="pop-field">
			Email:<br>
			<input type="email" ng-model="newUserEmail" required>
		</div>
		<div class="pop-field">
			<input class="wide" type="submit" value="Save">
		</div>
	</form>
	<div class="cancel-button" ng-hide="savingData || userEditPop" ng-click="userNewPop = false">X</div>
	<div class="cancel-button" ng-hide="savingData || userNewPop" ng-click="userEditPop=false">X</div>
	<div class="page-mask" ng-show="savingData"></div>
</div>

<div class="edit-pop" ng-show="userPasswordPop">
	<div class="pop-title">Change Password</div>
	<div class="pop-form-messages" ng-bind="popFormMessages"></div>
	<form ng-submit="savePasswordUser()">
		<div class="pop-field">
			New Password:<br>
			<input type="text" ng-model="newPassword" class="new-pass" required minlength="8">
		</div>
		<div class="pop-field">
			Confirm:<br>
			<input type="text" ng-model="newPassword2" required minlength="8">
		</div>
		<div class="pop-field">
			<input class="wide" type="submit" value="Save">
		</div>
	</form>
	<div class="cancel-button" ng-hide="savingData" ng-click="userPasswordPop=false">X</div>
	<div class="page-mask" ng-show="savingData"></div>
</div>

<div class="edit-pop" ng-show="userSuccessPop">
	<div class="pop-title" ng-bind-html="userSuccessMessage"></div>
	<div class="cancel-button" ng-click="userSuccessPop = false">X</div>
</div>

<div class="edit-pop" ng-show="categoryNewPop">
	<div class="pop-title">New Category</div>
	<div class="pop-form-messages" ng-bind="popMessages"></div>
	<form ng-submit="addCategory()">
		<input type="text" ng-model="newCategory" class="new-cat" required>
		<input type="submit" value="Save">
	</form>
	<div class="cancel-button" ng-hide="savingData" ng-click="categoryNewPop=false">X</div>
	<div class="page-mask" ng-show="savingData"></div>
</div>

<div class="edit-pop" ng-show="categoryEditPop">
	<div class="pop-title">Edit Category</div>
	<div class="pop-form-messages" ng-bind="popMessages"></div>
	<form ng-submit="editCategorySave()">
		<input type="text" ng-model="catEditPopName" class="edit-cat" required>
		<input type="hidden" ng-model="catEditPopID">
		<input type="submit" value="Save">
	</form>
	<div class="cancel-button" ng-hide="savingData" ng-click="categoryEditPop=false">X</div>
	<div class="page-mask" ng-show="savingData"></div>
</div>

<div class="edit-pop" ng-show="keywordNewPop">
	<div class="pop-title" ng-if="keywordNewPop">New Keyword</div>
	<div class="pop-form-messages" ng-bind="popMessages"></div>
	<form ng-submit="addKeyword()">
		<input type="text" ng-model="newKeyword" class="new-key" required>
		<input type="hidden" ng-model="kwEditPopID">
		<input type="submit" value="Save">
	</form>
	<div class="cancel-button" ng-hide="savingData" ng-click="keywordNewPop=false">X</div>
	<div class="page-mask" ng-show="savingData"></div>
</div>

<div class="edit-pop" ng-show="keywordEditPop">
	<div class="pop-title">Edit Keyword</div>
	<div class="pop-form-messages" ng-bind="popMessages"></div>
	<form ng-submit="editKeywordSave()">
		<input type="text" ng-model="kwEditPopName" class="edit-key" required>
		
		<input type="submit" value="Save">
	</form>
	<div class="cancel-button" ng-hide="savingData" ng-click="keywordEditPop=false">X</div>
	<div class="page-mask" ng-show="savingData"></div>
</div>

<div class="data-saved" ng-show="dataSavedPop">Data Saved Successfully</div>
<div class="footer">Copyright &copy; 2015 WillowTree Software LTD.</div>

<!---
<div class="page-mask" ng-hide="hideLeftMenu || largeMode" id="page-mask" ng-click="clickTab()"></div>
-->

<div class="page-mask" ng-show="noCatsKeys || addComment || accountView || userNewPop || userEditPop || userSuccessPop || categoryNewPop || categoryEditPop || keywordEditPop || keywordNewPop || pageLoading || userPasswordPop"></div>
</body></html>