<!DOCTYPE html><html lang="en">
<head>
	<meta charset="utf-8">
	<title>Team Notes</title>
	<meta name="description" content="Small, powerful and easy to use tools for professionals. Willowtree Software also provides IT consultancy services for schools">
	<meta name="keywords" content="Educational Applications,MIS Consultancy,Python,Django,Angular,PHP">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="{{ STATIC_URL }}scripts/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-animate.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-route.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular-cookie.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-sanitize.min.js"></script>
	
	<script src='{{ STATIC_URL }}scripts/login.js'></script>
	<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
	</head>
<body ng-app="teamNotes" ng-controller="mainController">
	<div class="background"></div>
	<div class="main-wrapper">
		<div class="logo"><img src="{{ STATIC_URL }}images/TeamNotesLogo.png"></div>
		
		<div class="clear"></div>
		
		<div class="login-box" ng-hide="register || reset || regSuccess">
			<div class="form-message" ng-bind="formMessages"></div>
			<div class="login-box-title">Login</div>
			<form ng-submit="submit()">
				<div class="input-field">
					Username:<br>
					<input type="text" name="username" class="loginemail" ng-model="lusername" required>
				</div>
				
				<div class="input-field">
					Password:<br>
					<input type="password" name="password" ng-model="lpassword" required>
				</div>
				
				<div class="input-field">
					<input type="submit" class="submit" value="Login">
				</div>				
			</form>
			<div class="reg-link">Forgot your password? <a href ng-click="resetPop()">Password Reset.</a></div>
			<hr>
			<div class="reg-link">Not already registered? <a href ng-click="regPop()">Click here to Register.</a></div>
		</div>

		<div class="login-box" ng-show="register">
			<div class="form-message" ng-bind="regFormMessages"></div>
			<div class="back-link" ng-click="loginPop()"><img src="{{ STATIC_URL }}images/back.png"></div>
			<div class="login-box-title">Registration</div>
			<form ng-submit="regSubmit()">
				<div class="input-field">
					Account name :<br>
					<input type="text" name="acount" class="account" ng-model="account" minlength=8 required>
				</div>
				<div class="input-field">
					Username:<br>
					<input type="text" name="username" class="username" ng-model="username" minlength=8 required>
				</div>
				<div class="input-field">
					Email:<br>
					<input type="email" name="regemail" class="regemail" ng-model="regEmail" required>
				</div>
				<div class="input-field">
					Confirm Email:<br>
					<input type="email" name="regemail2" ng-model="email2" required>
				</div>
				<div class="input-field">
					First Name:<br>
					<input type="text" name="first" ng-model="firstName" required>
				</div>
				<div class="input-field">
					Last Name:<br>
					<input type="text" name="last" ng-model="lastName" required>
				</div>
				<div class="input-field">
					Human Check:<br><b><span ng-bind="question"></span></b> = &nbsp;&nbsp;&nbsp;&nbsp;( Enter a Number ).<br>
					<input type="text" name="human" class="human" ng-model="human" required>
				</div>
				<div class="input-field">
					Agree to the <a href="{{ STATIC_URL }}snippets/terms_and_conditions.html" target="_BLANK">Terms And Conditions</a>
					<input class="toc" type="checkbox" name="toc" ng-model="toc" required>
				</div>
				<div class="input-field">
					<input type="submit" class="submit" value="Register">
				</div>	
			</form>
		</div>
		
		<div class="login-box" ng-show="reset">
			<div class="back-link" ng-click="loginPop()"><img src="{{ STATIC_URL }}images/back.png"></div>
			<div class="login-box-title">Password Reset</div>
			<form ng-submit="resetSubmit()">
				<div class="input-field">
					Email:<br>
					<input type="email" name="email" ng-model="resetEmail" class="resetemail" required>
				</div>
				
				<div class="input-field">
					<input type="submit" class="submit" value="Send">
				</div>
			</form>
		</div>
		
		
		<div class="login-box" ng-show="regSuccess">
			<h2>Registration succseful</h2>
			An email has been sent. Please check your inbox and follow the instructions in the email.
		</div>
				
	
	<div class="page-mask" ng-show="pageLoading || tocView"></div>
	<div class="loading-img" ng-show="pageLoading"><img src="{{ STATIC_URL }}images/ajax-loader1.gif"></div>
	<div class="footer">Copyright (&copy;) 2015. Willowtree Software LTD. | <a href="{{ STATIC_URL }}snippets/privacy_policy.html" target="_BLANK">Privacy Policy</a>
	</div>
</body></html>
