<!DOCTYPE html><html lang="en">
<head>
	<meta charset="utf-8">
	<title>Team Notes</title>
	<meta name="description" content="Small, powerful and easy to use tools for professionals. Willowtree Software also provides IT consultancy services for schools">
	<meta name="keywords" content="Educational Applications,MIS Consultancy,Python,Django,Angular,PHP">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="{{ STATIC_URL }}scripts/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-animate.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-route.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-cookies.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/angular/angular-sanitize.min.js"></script>
	
	<script src='{{ STATIC_URL }}scripts/register-password.js'></script>
	<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
	<script type="text/javascript">
		hash1='{{hash1}}';
		hash2='{{hash2}}';
	</script>
</head>
<body ng-app="teamNotes" ng-controller="mainController">
	<div class="background"></div>
	<div class="main-wrapper">
		<div class="logo"><img src="{{ STATIC_URL }}images/TeamNotesLogo.png"></div>
		
		<div class="clear"></div>
		

	<div class="login-box" ng-hide="success">
		<div class="form-message" ng-bind="formMessages"></div>
		<div class="login-box-title">New Account Password</div>
		<form ng-submit="doPassword()">
			<div class="input-field">
				Password. ( 8 characters minimum )<br>
				<input type="password" name="password" class="password" minLength="8" required ng-model="password">
			</div>
			
			<div class="input-field">
				Please confirm your password.<br>
				<input type="password" name="password2" id="password2" minLength="8" required ng-model="password2">
			</div>
			<div class="input-field">
				<input type="submit" class="submit-button" value="Submit">
			</div>
		</form>
	</div>
	<div class="clear"></div>

<div class="login-box" ng-show="success">
	<h2>Registration Complete.</h2>
	You can now proceed to <a href="/">LOGIN</a>

</div>

<div class="page-mask" ng-show="pageLoading" onClick="clearMask()"></div>
<div class="loading-img" ng-show="pageLoading"><img src="{{ STATIC_URL }}images/ajax-loader1.gif"></div>

</div>
</body></html>