<P>
    This is a test email for the Weekly Emails
</P>
<p>This was triggred for {{ rule.account.name }}</p>

<table>
    {% for notes in note %}
    <tr>
        <td>{% for words in notes.keywords.all %}{{ words }} {% endfor %}</td>
        <td>{{ notes.body_text }}</td>
    </tr>
    {% endfor %}
</table>